<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Loggers>
		<Logger level="all" name="goodlib" additivity="false">
			<AppenderRef ref="DebugFile" level="debug"/>
			<AppenderRef ref="SysOut" level="all"/>
			<AppenderRef ref="LatestFile" level="all"/>
			<AppenderRef ref="ServerGuiConsole" level="all"/>
		</Logger>
		<Logger level="all" name="glib-arm-renderables" additivity="false">
			<AppenderRef ref="DebugFile" level="debug"/>
			<AppenderRef ref="SysOut" level="all"/>
			<AppenderRef ref="LatestFile" level="all"/>
			<AppenderRef ref="ServerGuiConsole" level="all"/>
		</Logger>
		<Logger level="all" name="glib-base" additivity="false">
			<AppenderRef ref="DebugFile" level="debug"/>
			<AppenderRef ref="SysOut" level="all"/>
			<AppenderRef ref="LatestFile" level="all"/>
			<AppenderRef ref="ServerGuiConsole" level="all"/>
		</Logger>
		<Logger level="all" name="glib-better-commands" additivity="false">
			<AppenderRef ref="DebugFile" level="debug"/>
			<AppenderRef ref="SysOut" level="all"/>
			<AppenderRef ref="LatestFile" level="all"/>
			<AppenderRef ref="ServerGuiConsole" level="all"/>
		</Logger>
		<Logger level="all" name="glib-better-compass" additivity="false">
			<AppenderRef ref="DebugFile" level="debug"/>
			<AppenderRef ref="SysOut" level="all"/>
			<AppenderRef ref="LatestFile" level="all"/>
			<AppenderRef ref="ServerGuiConsole" level="all"/>
		</Logger>
		<Logger level="all" name="glib-better-loot" additivity="false">
			<AppenderRef ref="DebugFile" level="debug"/>
			<AppenderRef ref="SysOut" level="all"/>
			<AppenderRef ref="LatestFile" level="all"/>
			<AppenderRef ref="ServerGuiConsole" level="all"/>
		</Logger>
		<Logger level="all" name="glib-keybind-manager" additivity="false">
			<AppenderRef ref="DebugFile" level="debug"/>
			<AppenderRef ref="SysOut" level="all"/>
			<AppenderRef ref="LatestFile" level="all"/>
			<AppenderRef ref="ServerGuiConsole" level="all"/>
		</Logger>
		<Logger level="all" name="glib-yacl-utils" additivity="false">
			<AppenderRef ref="DebugFile" level="debug"/>
			<AppenderRef ref="SysOut" level="all"/>
			<AppenderRef ref="LatestFile" level="all"/>
			<AppenderRef ref="ServerGuiConsole" level="all"/>
		</Logger>
	</Loggers>
</Configuration>